/*   footer    */

footer {
  display: flex;
  justify-content: space-around;
  color: aliceblue;
  /* background-color: rgb(0, 0, 0); */
  background-image: url(../images/dirty_old_shirt.png);
  background-repeat: repeat;
  padding: 20px;
}
footer div.social-links ul li {
  display: inline;
  text-emphasis: weight;
  list-style-type: none;
  padding: 5px;
  cursor: pointer;
}
footer div {
  cursor: pointer;
}

@media screen and(max-width:948px) {
  footer div ul li.connect-text {
    display: none;
  }
  footer div p,
  footer div {
    font-size: 13px;
  }
}
