/*second page*/

.second-page {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: #151515;
  padding-bottom: 5rem;
  overflow: hidden;
}

/* Top shadow of second page*/

.shadow-page-two {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 20vh;
  background: linear-gradient(to top, #151515, transparent);
}

/*Second page header*/
.second-page-header {
  padding-top: 1rem;
  font-size: 1rem;
  min-height: 10vh;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  margin: auto;
  left: 0;
}
.second-page-header h1 {
  display: inline-block;
  transform: rotate(90deg) translateY(-50%);
  transform-origin: 0 100%;
}

/*second page hero*/
.second-page-hero {
  min-height: 80vh;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.second-page-hero-photo {
  margin: 1rem;
  width: 10%;
  height: 50vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.intro-text {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s all ease-in-out;
}

.intro-text-appear {
  opacity: 1;
  transform: translateY(0px);
}
#image1,
#image2,
#image3 {
  width: 100%;
  height: 100%;
}
#image1 {
  background: url("../images/katarzyna-grabowska-GZ0TGTwiCiQ-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#image2 {
  background: url("../images/umesh-soni-LDnmyOaA-ew-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#image3 {
  background: url("../images/heather-ford-Fq54FqucgCE-unsplash.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.second-page-hero-text,
.second-page-hero-photo {
  flex: 1;
}

/*Order button*/

.cake-cards-button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
}
.cake-cards-button a {
  color: black !important;
  font-size: 1rem;
  text-transform: capitalize;
}

/* Second page media query */

@media screen and(max-width: 948px) {
  .shadow-page-two {
    display: none;
  }
  .second-page-header {
    padding-top: 2rem;
    text-align: center;
    position: static;
    h1 {
      transform: unset;
      transform-origin: unset;
    }
  }
  .second-page-hero-photo {
    flex: 1 1 40rem;
  }
  .second-page-hero-text {
    flex: 1 1 40rem;
    order: 2;
    h1 {
      text-align: center;
    }
    padding-bottom: 5rem;
  }
  .cake-cards-button {
    margin: 0 50%;
    transform: translateX(-50%);
  }
}
