/*  Third page */
.third-page {
  min-height: 150vh;
  background: #151515;
  position: relative;
}

/*section seperation line*/

.third-page::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 80%;
  height: 0.3rem;
  margin: auto;
  background: rgb(161, 161, 161);
}

/*Third page header*/

.third-page-header {
  padding-top: 1rem;
  font-size: 1rem;
  min-height: 10vh;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  margin: auto;
  left: 0;
  text-align: end;
}
.third-page-header h1 {
  transform: rotate(90deg) translateY(-50%);
  transform-origin: 0% 100%;
  display: inline-block;
}

/*Third page hero section*/
.third-page-hero {
  min-height: 80vh;
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.third-page-hero-photo {
  margin: 1rem;
  width: 10%;
  height: 50vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
}

.intro-text {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.8s all ease-in-out;
}

.intro-text-appear {
  opacity: 1;
  transform: translateY(0px);
}
#image4,
#image5,
#image6 {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
#image4 {
  background: url("https://images.unsplash.com/photo-1510506678113-ba866806e117?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#image5 {
  background: url("../images/sydney-herron-hqfTLapPwr0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#image6 {
  background: url("../images/nguyen-dang-hoang-nhu-4LiIv59mw-4-unsplash\ \(1\).jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.third-page-hero-text,
.third-page-hero-photo {
  flex: 1;
}

/*Order button*/

.gift-cards-button {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
}
.gift-cards-button a {
  color: black !important;
  font-size: 1rem;
  text-transform: capitalize;
}

/* Third page media query */

@media screen and(max-width: 948px) {
  .third-page-header {
    padding-top: 2rem;
    text-align: center;
    position: static;
    h1 {
      transform: unset;
      transform-origin: unset;
    }
  }
  .third-page-hero-photo {
    flex: 1 1 40rem;
  }
  .third-page-hero-text {
    flex: 1 1 40rem;
    order: 2;
    h1 {
      text-align: center;
    }
    padding-bottom: 5rem;
  }
  .gift-cards-button {
    margin: 0 50%;
    transform: translateX(-50%);
  }
}
